.modern-table{
    .page-table-search-form{
        background-color: white;
        padding: 24px 24px 12px 24px;
        margin-bottom: 16px;
        box-shadow: 0px 0px 4px #d4d4d4;
    }
    .page-table-data{
        .top-selected{
            margin-left: 8px;
        }
    }
    .content-table{
        background-color: white;
        margin-top: 12px;
        box-shadow: 0px 0px 4px #d4d4d4;
        table{
            table-layout: auto !important;
        }
    }
    .content-table-pagination{
        background-color: white;
        margin-top: 12px;
        box-shadow: 0px 0px 4px #d4d4d4;
        text-align: right;
        padding: 16px;
    }
}